---
import Layout from "@/layouts/Layout.astro";
import ProfileCard from "@/components/ProfileCard.astro";
import { EVENT_NAME } from "@/utils/cloudskillsboost/config";

import { dataResponse, resetDataResponse, postHandler } from "./actions";

resetDataResponse();
await postHandler(Astro.request);
---

<Layout title="Fetch Me">
  <section
    class="flex min-h-[100dvh] w-screen flex-col items-center justify-center gap-2 bg-gray-100 p-4"
  >
    {
      !dataResponse.data && (
        <>
          <p class="text-slate-700">{EVENT_NAME} - URL Validator</p>
          <form class="mb-8 flex flex-row gap-2" method="POST">
            <input
              type="text"
              class="min-w-[25vw] rounded bg-white px-4 py-2 text-slate-700 transition-all duration-300 hover:ring-2 hover:ring-blue-400"
              placeholder="Your Profile URL"
              name="profileUrl"
              required
            />
            <button class="mx-auto max-w-[10rem] rounded bg-gray-300 px-4 py-2 transition-colors duration-300 hover:bg-gray-500 hover:text-slate-100">
              Submit
            </button>
          </form>
        </>
      )
    }

    {
      dataResponse.error && (
        <p class="animate-pulse rounded bg-red-700 px-4 py-2 text-white/90">
          {dataResponse.error}
        </p>
      )
    }

    {
      dataResponse.data && (
        <>
          <section class="flex flex-col items-center text-slate-700">
            <p class="text-center">{dataResponse.data.name}</p>
            <p class="text-center">Tier: {dataResponse.data.tier}</p>
            <p class="text-center">
              Eligible Quests: {dataResponse.data.totalEligibleQuests}
            </p>
          </section>
          <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
            {dataResponse.data.quests.map((datum) => (
              <ProfileCard datum={datum} />
            ))}
          </section>
          {dataResponse.data.quests.length === 0 && (
            <section>
              <p class="animate-pulse text-center text-slate-700">
                No eligible quests found for this profile
              </p>
            </section>
          )}

          <section class="my-4">
            <a
              class=" rounded bg-sky-400 px-4 py-2 transition-colors duration-300 hover:bg-sky-800 hover:text-white/90"
              href="/"
            >
              Back to Form
            </a>
          </section>
        </>
      )
    }
  </section>
</Layout>
